{% extends 'base.html.twig' %}
{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('assets/css/Settings.css') }}">
{% endblock %}
{% block title %}Settings{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_main_page')}}">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_check_list')}}">Zadania</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_budget')}}">Budżet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_guest')}}">Goście</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_note')}}">Notatki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_contact')}}">Kontakty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_settings')}}">Ustawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{  path('app_logout')}}">Wyloguj</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<div class="container-fluid">

        <div class="row no-gutters" id="Table">

            <div class="col-sm-12  text-center mb-5 mt-5">

                <div class="row mb-3">
                    <div class="input-group  col-lg-6">
                        <label for="currentName" class="form-label">Nazwa użytkownika</label>
                        <input id="currentName" class="form-control" type="text" name="username"
                            value={{ username }} disabled>
                        <button type="button"  id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editNameModal">
                            <i class="fa-solid fa-pen-to-square"></i></button>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="input-group col-lg-6">
                        <label for="currentEmail" class="form-label">Email</label>
                        <input id="currentEmail" class="form-control" type="email" value={{ email }}
                            disabled>
                        <button type="button"  id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editEmailModal"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="input-group col-lg-6">

                        <label for="currentPassword" class="form-label">Hasło</label>
                        <input id="currentPassword" type="password" class="form-control" name="password"
                            value="••••••••" disabled>
                        <button type="button"  id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editPasswordModal"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>
                
                {% for data in dataWedding %}
                <div class="row mb-3">
                    <div class="input-group col-lg-6">

                        <label for="bride" class="form-label">Imię Panny Młodej</label>
                        <input id="bride" type="text" class="form-control" name="brideName"
                            value={{ data['bride_name']}} disabled>
                        <button type="button"  id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editBrideNameModal"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="input-group col-lg-6">

                        <label for="groom" class="form-label">Imię Pana Młodego</label>
                        <input id="groom" type="text" class="form-control" name="groomName"
                            value={{ data["groom_name"]}} disabled>
                        <button type="button"  id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editGroomNameModal"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="input-group col-lg-6">

                        <label for="date" class="form-label">Data ślubu</label>
                        <input id="date" type="date" class="form-control" name="date"
                            value={{ data['date']}} disabled>
                        <button type="button"  id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editDateModal"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>



<!--Modal window-->
<div class="modal fade" id="editNameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edycja nazwy użytkownika</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path("update_username") }}" id="formUsername">
                    <div class="row mb-3">

                        <div class="input-group justify-self-center">
                            <label for="username" class="form-label">Nazwa użytkownika</label>
                            <input id="username" class="form-control" type="text" name="username"
                                placeholder={{username}} required>
                        </div>

                    </div>

                    <ul class="text-danger text-center mt-1 error nameError" id="error" style="list-style-type:none;">

                    </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class=" btn btn-success" id="accept">Zapisz</button>
            </div>
            </form>
        </div>
    </div>
</div>





<!--Modal window-->
<div class="modal fade" id="editEmailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edycja adresu email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            
                <form method="post" action="{{ path("update_email") }}"  id="formEmail">
                    <div class=" row mb-3">
                        <div class="input-group">
                            <label for="email" class="form-label">Adres email</label>
                            <input id="email" class="form-control" type="email" name="email"
                                placeholder={{ email }} required>
                        </div>
                    </div>
                    <ul class="text-danger text-center mt-1 error emailError" style="list-style-type:none;">


                    </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class=" btn btn-success" id="accept">Zapisz</button>
                     </div>
            </form>
        </div>
    </div>
</div>


<!--Modal window-->
<div class="modal fade" id="editPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edycja hasła</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path("update_password") }}" id="formPassword">

                    <div class=" row mb-3">
                        <div class="input-group">
                            <label for="password" class="form-label">Hasło</label>
                            <input id="password" type="password" class="form-control" name="password"
                                placeholder="••••••••" required>
                        </div>
                    </div>

                    <ul class="text-danger text-center mt-1 error passwordError" style="list-style-type:none;">
                    </ul>
                    <div>
                        <input type="checkbox" id="checkbox" name="checkbox" onclick="showPassword();">
                        <label for="checkbox">Pokaż hasło</label>
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class=" btn btn-success" id="accept">Zapisz</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--Modal window-->
<div class="modal fade" id="editBrideNameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Zmiana imienia Panny Młodej</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
            {% for data in dataWedding %}
                <form method="post" action="{{ path('update_brideName',{'id':data['id']}) }}" id="formBrideName">
                    <div class="row mb-3">

                        <div class="input-group justify-self-center">
                            <label for="username" class="form-label">Imię Panny Młodej</label>
                            <input id="username" class="form-control" type="text" name="brideName"
                                placeholder={{ data['bride_name']}} required>
                        </div>
                        
                            
                           
                        {% endfor %}
                    </div>

                    <ul class="text-danger text-center mt-1 error brideNameError" id="error" style="list-style-type:none;">

                    </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class=" btn btn-success" id="accept">Zapisz</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!--Modal window-->
<div class="modal fade" id="editGroomNameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Zmiana imienia Pana Młodego</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    {% for data in dataWedding %}
                <form method="post" action="{{ path('update_groomName', {'id':data['id']}) }}" id="formGroomName">
                    <div class="row mb-3">
                    
                        <div class="input-group justify-self-center">
                            <label for="username" class="form-label">Nazwa użytkownika</label>
                            <input id="username" class="form-control" type="text" name="groomName"
                                placeholder={{ data['groom_name']}} required>
                        </div>
                    {% endfor %}
                    </div>
                    
                    <ul class="text-danger text-center mt-1 error groomNameError" id="error" style="list-style-type:none;">

                    </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class=" btn btn-success" id="accept">Zapisz</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!--Modal window-->
<div class="modal fade" id="editDateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zmiana daty ślubu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            {% for data in dataWedding %}
                <form method="post" action="{{ path('update_date', {id: data['id']})  }}" id="formWeddingDate">
                    <div class="row mb-3">
                    
                        <div class="input-group justify-self-center">
                            <label for="username" class="form-label">Data ślubu</label>
                            <input id="username" class="form-control" type="datetime-local" name="date"
                                placeholder={{ data['date']}} required>
                        </div>
                        {% endfor %}

                    </div>

                    <ul class="text-danger text-center mt-1 error dateError" id="error" style="list-style-type:none;">

                    </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class=" btn btn-success" id="accept">Zapisz</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
