{% extends 'base.html.twig' %}

{% block title %}WeddingPlanner{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('assets/css/notes.css') }}">
   
{% endblock %}


{% block body %}
<nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_main_page')}}">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_check_list')}}">Zadania</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_budget')}}">Budżet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_guest')}}">Goście</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_note')}}">Notatki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_contact')}}">Kontakty</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link active" href="Calendar.html">Kalendarz</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ustawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{  path('app_logout')}}">Wyloguj</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
<div class="content">
        <h1>Miejsce do sporządzenia notatek</h1>

        <div class="row">
            <div class="col-10">
                <a class="btn" id="add_new" href="#" role="button" data-bs-toggle="modal"
                    data-bs-target="#addNewNote">
                    Dodaj notatkę
                </a>
            </div>
        </div>

        <div class="container">
            <ul>
            {% for note in notes %}
                <li>


                   

                    <form action="{{ path("update_note",{'id':note["id"]}) }}" method="POST" id="editNote">
                        <textarea  name="titleEdit" id="title">{{ note['title']}}  </textarea>
                        <ul class="text-danger text-center mt-1 error titleEditError" style="list-style-type:none;">
                        </ul>
                        <textarea  name="note" id="noteTextarea">{{ note['note'] }} </textarea>
                        <ul class="text-danger text-center mt-1 error noteError" style="list-style-type:none;">
                        </ul>
                    <button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                    <a onclick="return confirm('Czy na pewno chcesz usunąć notatkę?')" href="{{path('note_delete',{'id':note.id})}}" id="delete"><i class="fa-solid fa-trash-can"></i></a>
                    
                    </form> 
                    

                    

                </li>
            {% endfor %}
                
            </ul>

        </div>

            <!-- Modal -->
        <div class="modal fade" id="addNewNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dodaj nową notatkę</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <div class="modal-body">
                   <form action="{{ path("create_new_note") }}" method="POST" id="noteForm">

                        
                        <div class="form-floating mb-3">
                            <input name = "title" type="text" class="form-control" id="floatingInput" placeholder="..." >
                            <label for="floatingInput">Tytuł notatki</label>
                        </div>
                         <div class="text-danger text-center mt-1 error titleError" style="list-style-type:none;">

                        </div>
                        
                        <div class="form-floating mb-3">
                            <input name = "content" type="text" class="form-control" id="floatingInput" placeholder="...">
                            <label for="floatingInput">Nowe zadanie</label>
                        </div>
                        <div class="text-danger text-center mt-1 error contentError" style="list-style-type:none;">

                        </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="cancel" data-bs-dismiss="modal">Anuluj</button>
                        <button type="submit" class=" btn" id="accept">Zapisz</button>
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
        {% block js %}
            <script src="{{ asset('assets/js/noteValidation.js') }}"></script>
        {% endblock %}

            

{% endblock %}
