{% extends 'base.html.twig' %}

{% block title %}WeddingPlanner{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('assets/css/budget.css') }}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_check_list')}}">Zadania</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_budget')}}">Budżet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_guest')}}">Goście</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_note')}}">Notatki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_contact')}}">Kontakty</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link active" href="Calendar.html">Kalendarz</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ustawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{  path('app_logout')}}">Wyloguj</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <h1>Rozplanuj swój budżet</h1>


    <div class="container">


        <div class="row">
        <form action="{{ path("set_budget") }}" method="POST">
        {% if budget is not empty %}
            {% for price in budget %}
            <div class="input-group mt-3" id="budget">
                <span class="input-group-text">Budżet</span>
                <input id="amount" class="form-control" type="number" step="0.01" min="0"
                    aria-label="default input example" name="budget" placeholder="Podaj budżet" required value={{ price['budget'] }}>
                <span class="input-group-text">PLN</span>
            </div>
            
        </form>
        </div>
        <div class="row mt-3">
            <div class="summary">
                <table id="summary">
                    <thead>
                        <tr>
                            <td scope="col">Budżet</td>
                            <td scope="col">Wydano</td>
                            <td scope="col">Pozostało</td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Budżet">{{ price['budget']}}</td>
                            {% for sum in sumOfAlreadyPaid %}
                            <td data-label="Zapłacono">{{ sum['SUM'] }}</td>
                            <td data-label="Pozostało">Tu asynchronicznie chce</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        <div class="podcategory">
            <h1>Szczegóły wydatków</h1>   
                <div class="wrapper">
                    <form>
                        {% for paid in alreadyPaid %}
                        <div class="dropdown mb-4 mt-1">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{paid["category_name"]}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <div style="overflow-x:auto;">
                                <table>
                                    <thead>
                                        <tr>
                                            <td scope="col">Wydatek</td>
                                            <td scope="col">Cena</td>
                                            <td scope="col">Zapłacono</td>
                                            <td scope="col">Pozostało</td>
                                        </tr>

                                    </thead>
                                    <tbody>{% for detail in details %}
                                                {% if paid["category_name"] == detail['category_name'] %}
                                                
                                                    <tr>
                                                        <td data-label="Wydatek">{{detail['expense']}}</td>
                                                        <td data-label="Cena">{{detail['price']}}</td>
                                                        <td data-label="Zapłacono">{{detail['already_paid']}}</td>
                                                        <td data-label="Pozostało">asynchronicznie</td>
                                                    </tr>
                                                
                                                
                                                {% endif %}
                                                
                                                {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </ul>
                        </div>
                        {% endfor %}
                        <div id="addNewExpense" class="mt-5">
                            <button class="btn" type="button" id="buttonToAddNewExpense" data-bs-toggle="modal"
                            data-bs-target="#addNewExpenseModal">Dodaj wydatek</button>
                        </div>
                    </form>
                </div>
                        
        </div>
    </div>


    <!--Modal window to add new task-->

    <!-- Modal -->
    <div class="modal fade" id="addNewCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodaj nową kategorię wydatków</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="...">
                            <label for="floatingInput">Nowe kategoria</label>
                        </div>



                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Close</button>
                    <button type="button" class=" btn btn-success" id="accept">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!---->

    <div class="modal fade" id="addNewExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodaj nowy wydatek</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <select class="form-control" name="category" id="floatingInput"
                                    required>
                                    <option value="" disabled selected hidden>Wybierz kategorię</option>
                                    {% for paid in alreadyPaid %}
                                    <option name="category">{{ paid['category_name'] }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="...">
                            <label for="floatingInput">Nowy wydatek</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" step="0.01" min="0" class="form-control" id="floatingInput"
                                placeholder="...">
                            <label for="floatingInput">Cena</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" step="0.01" min="0" class="form-control" id="floatingInput"
                                placeholder="...">
                            <label for="floatingInput">Zapłacono</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Close</button>
                    <button type="button" class=" btn btn-success" id="accept">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
