{% extends 'base.html.twig' %}

{% block title %}WeddingPlanner{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('assets/css/checkList.css') }}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_check_list')}}">Zadania</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_budget')}}">Budżet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_guest')}}">Goście</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_note')}}">Notatki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_contact')}}">Kontakty</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link active" href="Calendar.html">Kalendarz</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ustawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_index')}}">Wyloguj</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <h1>Lista zadań do wykonania</h1>
    <div class="wrapper">
        <form>
            <div class="dropdown mb-3 mt-5">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Sala Weselna
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <div id="addNewTask">
                        <button class="btn" type="button" id="buttonToAddNewTask" data-bs-toggle="modal"
                            data-bs-target="#addNewTaskModal">Dodaj zadanie</button>
                    </div>
                </ul>
            </div>


            <div class=" dropdown mb-3 mt-1">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Panna Młoda
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Zarezerwuj salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group mb-3 mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="task">Wybierz salę weselną</span>
                            <span class="input-group-text"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </li>
                    <div id="addNewTask">
                        <button class="btn" type="button" id="buttonToAddNewTask" data-bs-toggle="modal"
                            data-bs-target="#addNewTaskModal">Dodaj zadanie</button>
                    </div>
                </ul>
            </div>
        </form>
    </div>



    <!--Modal window to add new task-->


    <!-- Modal -->
    <div class="modal fade" id="addNewTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodaj zadanie do wykonania</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="...">
                            <label for="floatingInput">Nowe zadanie</label>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Close</button>
                    <button type="button" class=" btn btn-success" id="accept">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
